meta {
  title "Resource Hierarchy"
}

elements {
  group hierarchy {
    name "Google Cloud Platform"
    {{range $val := .}}
      card {{$val.GCPDrawName}} {
        name "{{$val.DisplayName}}"
        {{if $val.IsFolder }}
        icon_url "https://drive.google.com/file/d/1pln5ALL90c55K5toHAGR9rJ9FTxkmWZa/view"
        {{else}}
        icon_url "https://drive.google.com/file/d/1OtcF7WPJtG2fCdi3Dcm_Rs4TPaZKptIK/view"
        {{end}}
      }
    {{end}}
  }
}

paths {
  {{range $val := .}}
      {{if $val.IsFolder }}
        {{$val.GCPDrawParentName}} --> {{$val.GCPDrawName}}
      {{end}}
  {{end}}
}