apiVersion: fn.kpt.dev/v1alpha1
kind: StarlarkRun
metadata:
  name: no-private-key
  annotations:
    config.kubernetes.io/local-config: "true"
source: |
  def contains_private_key(r):
    return r["apiVersion"] == "v1" and r["kind"] == "ConfigMap" and r["data"]["private-key"]
  for resource in ctx.resource_list["items"]:
    if contains_private_key(resource):
      fail("it is prohibited to have private key in a configmap")
